<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的账户</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div style="padding: 18px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span>账户概览</span>
            [[if ($sys_power.withdrawal == 1)]]
            <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-rmb" id="addBtn"
                  style="margin-top: 4px"> 提现</span>
            [[/if]]
        </div>
        <div class="layui-card-body layui-text">
            <table class="layui-table" id="financeOverview" lay-filter="financeOverview">
                <colgroup>
                    <col width="200">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <td>账号</td>
                    <td style="text-align: left">[[$sys_user.account]]</td>
                </tr>
                <tr>
                    <td>上级</td>
                    <td style="text-align: left">[[$sys_user.paccount]]</td>
                </tr>
                <tr>
                    <td>余额</td>
                    <td id="overview-balance" style="text-align: left"></td>
                </tr>
                <tr>
                    <td>冻结中</td>
                    <td id="overview-fz-balance" style="text-align: left"></td>
                </tr>
                <tr>
                    <td>待结算</td>
                    <td id="overview-djs-balance" style="text-align: left"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!--<hr style="background-color: #1E9FFF"/>-->
    <hr/>
    <div class="layui-card">
        <div class="layui-card-header">
            <span>资金明细</span>
        </div>
        <div class="layui-card-body">
            <form action="" class="layui-form" id="searchForm">
                <div class="layui-form-item" style="text-align: center">
                    <div style="float: right">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">开始</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_start_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">结束</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_end_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">关键字</label>
                            <div class="layui-input-inline" style="width:220px;">
                                <input autocomplete="off" class="layui-input" id="s_keyword" placeholder="关键字"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-search"
                                      id="searchBtn"> 查询</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <table class="layui-hide" id="financeDetail" lay-filter="financeDetail"></table>
        </div>
    </div>
</div>


<!--item操作工具条-->
<script id="laytpl-table-item" type="text/html">
    {{#if(d.power_recharge == 1){}}
        <a class="layui-btn layui-btn-radius layui-btn-normal" lay-event="recharge">充值</a>
    {{#}}}
</script>


<!--提现弹层-->
<script id="laytpl-finance-withdrawal" type="text/html">
    <form class="layui-form" lay-filter="form-finance-withdrawal">
        <div class="layui-form-item">
            <label class="layui-form-label">账号:</label>
            <div class="layui-input-block">
                <input class="layui-input" readonly type="text" value="{{d.data.user.account}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">余额:</label>
            <div class="layui-input-block">
                <input class="layui-input" readonly type="text" value="{{d.data.user.balance}}" id="finance-user-balance">
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label class="layui-form-label">冻结中:</label>
            <div class="layui-input-block">
                <input class="layui-input" readonly type="text" value="{{d.data.user.fz_balance}}">
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">待结算:</label>
            <div class="layui-input-block">
                <input class="layui-input" readonly type="text" value="{{d.data.user.djs_balance}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">今日额度:</label>
            <div class="layui-input-block">
                <input class="layui-input" readonly type="text" value="{{d.data.day_cash_money}}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">银行卡:</label>
            <div class="layui-input-block">
                <select id="finance-card">
                    <option value="0">请选择银行卡</option>
                    {{#layui.each(d.data.card_list, function(index,item){}}
                    <option value="{{item.id}}">【{{item.bank_name}}】 {{item.bank_account}} - {{item.bank_realname}}</option>
                    {{#});}}
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">提现金额：</label>
            <div class="layui-input-block">
                <input type="text" id="finance-money" placeholder="" autocomplete="off" class="layui-input"/>
            </div>
            <span style="color:#f60;margin-left: 110px">{{d.data.cash_limit_str}}</span><br/>
            <span style="color:#f60;margin-left: 110px">{{d.data.cash_time_str}}</span><br/>
            <span style="color:#f60;margin-left: 110px">{{d.data.cash_fee_str}}</span>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">二级密码：</label>
            <div class="layui-input-block">
                <input type="password" id="finance-pwd2" placeholder="" autocomplete="off" class="layui-input"/>
            </div>
        </div>
    </form>
</script>


<!--引用其他js文件-->
<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>


<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laytpl', 'laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;

        laydate.render({elem: '#s_start_date'});
        laydate.render({elem: '#s_end_date'});

        <!--获取用户列表-->
        function onSearchBtn() {
            var params = {
                s_start_date: $.trim($('#s_start_date').val()),
                s_end_date: $.trim($('#s_end_date').val()),
                s_keyword: $.trim($('#s_keyword').val())
            };

            dataPage({
                elem: '#financeDetail',
                url: '[[$Think.ADMIN_URL]]/finance/detail',
                where: params,
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'gname', title: '分组', width: 120},
                    {field: '', title: '账号/昵称', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.account + '/' + d.nickname + '</div>';
                            html += '</div>';
                            return html;
                        }},
                    {field: 'type_flag', title: '类型'},
                    {field: 'money', title: '额度', width: 130},
                    {field: 'ori_balance', title: '原余额', width: 130},
                    {field: 'new_balance', title: '现余额', width: 130},
                    {field: 'remark', title: '备注'},
                    {field: 'create_time', title: '时间', width: 180},
                ]],
                done: function (res, curr, count) {
                    if (res.code === '0') {
                        $('#overview-balance').text(res.odata.balance);
                        $('#overview-fz-balance').text(res.odata.fz_balance);
                        $('#overview-djs-balance').text(res.odata.djs_balance);
                        alertSuccess(res.msg);
                    }
                }
            });
        }


        <!--触发搜索按钮-->
        $('#searchBtn').on('click', function () {
            onSearchBtn();
        });

        onSearchBtn();


        function financeWithdrawal() {
            laytplAfterAjax({
                    url: '[[$Think.ADMIN_URL]]/finance/overview'
                },
                {
                    title: '提现申请',
                    area: ['640px', '600px'],
                    laytplId: '#laytpl-finance-withdrawal',
                    success: function (index, layero) {
                        form.render();
                    },
                    yes: function (index, layero) {
                        var card = $('#finance-card').val();
                        var password2 = md5($.trim($('#finance-pwd2').val()));
                        var money = parseFloat($.trim($('#finance-money').val()));
                        var balance = parseFloat($.trim($('#finance-user-balance').val()));
                        if (card === '0') {
                            alertWarning('请选择银行卡');
                            return;
                        }
                        if (!money || money <= 0) {
                            alertWarning('提现金额必须为正数');
                            return;
                        }
                        if (money > balance) {
                            alertWarning('余额不足');
                            return;
                        }
                        if (password2 === md5('')) {
                            alertWarning('请输入二级密码');
                            return;
                        }

                        ajax({
                            url: '[[$Think.ADMIN_URL]]/finance/withdrawal',
                            data: {
                                card_id: card,
                                money: money,
                                password2: password2
                            },
                            success: function (res) {
                                if (res.code !== '0') {
                                    alertError(res.msg);
                                    return;
                                }
                                layer.close(index);
                                alertSuccess(res.msg);
                            }
                        });
                    },
                    btn2: function (index, layero) {
                        return true;
                    }
                });
        }


        <!--用户提现-->
        $('#addBtn').on('click', function () {
            financeWithdrawal();
        });

    });
</script>

</body>
</html>
