<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单明细</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div style="padding: 18px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span>订单明细</span>
            [[if ($sys_power.add == 1 && $sys_user.pid <= 1)]]
            <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-add-circle" id="addBtn"
                  style="margin-top: 4px"> 新增</span>
            [[/if]]
        </div>
        <div class="layui-card-body">
            <form action="" class="layui-form" id="searchForm">
                <div class="layui-form-item" style="text-align: center">
                    <div style="float: right">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">开始</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_start_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">结束</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_end_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">通道</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_channel">
                                    <option value="0">全部</option>
                                    [[foreach name="sys_channel" item="vo"]]
                                    <option value="[[$vo.id]]">[[$vo.name]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">状态</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_pay_status">
                                    <option value="0">全部</option>
                                    [[foreach name="sys_pay_status" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">关键字</label>
                            <div class="layui-input-inline" style="width:220px;">
                                <input autocomplete="off" class="layui-input" id="s_keyword" placeholder="关键字"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-search"
                                      id="searchBtn"> 查询</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <table class="layui-hide" id="payOrderList" lay-filter="payOrderList"></table>
        </div>
    </div>
</div>


<!--item操作工具条-->
<script id="laytpl-table-item" type="text/html">
    <!--
    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="del">删除</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit">编辑</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="channel">测试</a>
    {{#}}}

    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="kick">踢掉</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm" lay-event="recharge">充值</a>
    {{#}}}
    -->
</script>


<!--用户禁用状态工具条-->
<script id="laytpl-order-status" type="text/html">
    <div>
        {{#if(d.pay_status == 9){}}
            {{d.real_money}}
        {{#}else if(d.pay_status == 3 && [[$sys_power.patch == 1]]){}}
            <div class="layui-btn layui-btn-radius layui-btn-normal layui-btn-warm" lay-event="order-patch">超时补单</div>
        {{#}else if(d.pay_status < 3 && [[$sys_power.callback == 1]]){}}
            <div class="layui-btn layui-btn-radius layui-btn-normal" lay-event="order-callback">确认订单</div>
        {{#}else{}}
            '/'
        {{#}}}
    </div>
</script>


<!--确认订单的弹层-->
<script id="laytpl-order-check" type="text/html">
    <form lay-filter="form-order-check" class="layui-form model-form no-padding">
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">订单号:</label>
            <div class="layui-input-block">
                <input name="order_sn" id="order-sn" readonly class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">订单金额:</label>
            <div class="layui-input-block">
                <input name="money" id="order-money" class="layui-input"/>
            </div>
        </div>
        {{#if(d.pay_status==3){}}
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">二级密码:</label>
            <div class="layui-input-block">
                <input id="user-password2" placeholder="请输入二级密码" class="layui-input"/>
            </div>
        </div>
        {{#}}}
    </form>
</script>

<!--引用其他js文件-->
<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>

<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laytpl', 'laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;

        laydate.render({elem: '#s_start_date'});
        laydate.render({elem: '#s_end_date'});

        <!--获取用户列表-->
        function onSearchBtn() {
            var params = {
                s_start_date: $.trim($('#s_start_date').val()),
                s_end_date: $.trim($('#s_end_date').val()),
                s_keyword: $.trim($('#s_keyword').val()),
                s_pay_status: $('#s_pay_status').val(),
                s_channel: $('#s_channel').val(),
            };

            dataPage({
                elem: '#payOrderList',
                url: '[[$Think.ADMIN_URL]]/pay/orderlist',
                where: params,
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'mtype_name', title: '支付类型', width: 120},
                    {field: '', title: '码商/平台单号', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.mu_nickname + '</div>';
                            html += '<div>' + d.order_sn + '</div>';
                            html += '</div>';
                            return html;
                        } },
                    {field: '', title: '商户/商户单号', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.su_nickname + '</div>';
                            html += '<div>' + d.out_order_sn + '</div>';
                            html += '</div>';
                            return html;
                        } },
                    {field: 'money', title: '订单金额', width: 130},
                    {field: 'fee', title: '佣金', width: 130},
                    {field: 'real_money', title: '结算金额', width: 130, templet: "#laytpl-order-status"},
                    {field: 'pay_status_flag', title: '支付状态'},
                    {field: 'create_time', title: '下单时间', width: 130},
                    {field: 'js_time', title: '回调时间', width: 130}
                ]],
                done: function (res, curr, count) {
                    if ($('.sumLine').length < 1) {
                        var html = '<div class="sumLine">';
                        html += '<span>订单：' + res.odata.count_succeed + '/' + res.count + ' (' + res.odata.count_percent + ')' + '</span>';
                        html += '<span>金额：' + res.odata.sum_money_succeed + '/' + res.odata.sum_money + '</span>';
                        html += '<span>累计结算：' + res.odata.sum_real_money + '</span>';
                        html += '<span>佣金总计：' + res.odata.sum_fee + '</span>';
                        html += '</div>';
                        $('.layui-table-header').before(html);
                    }
                    if (res.code === '0') {
                        alertSuccess(res.msg);
                    }
                }
            });
        }

        <!--触发搜索按钮-->
        $('#searchBtn').on('click', function () {
            onSearchBtn();
        });

        onSearchBtn();

        <!--触发补单按钮-->
        function checkOrder (obj) {
            var item = obj.data;

            layer.open({
                title: '订单确认',
                area: ['640px', '520px'],
                type: 1,
                shadeClose: true,
                btn: ['确定', '取消'],
                content: layui.laytpl($('#laytpl-order-check').html()).render(item),
                success: function (index, layero) {
                    form.val('form-order-check', item);
                    form.render();
                },
                yes: function (index, layero) {
                    var money = parseFloat($.trim($('#order-money').val()));
                    var passwd2 = md5($.trim($('#user-password2').val()));

                    if (money !== item.money) {
                        alertWarning('请输入正确的额度');
                        return;
                    }
                    if (item.pay_status == 3 && passwd2 === md5('')) {
                        alertWarning('请输入二级密码');
                        return;
                    }

                    ajax({
                        url: '[[$Think.ADMIN_URL]]/pay/ordercheck',
                        data: {
                            id: item.id,
                            osn: item.order_sn,
                            money: money,
                            password2: passwd2
                        },
                        success: function (res) {
                            if (res.code !== '0') {
                                alertError(res.msg);
                                return;
                            }
                            layer.close(index);
                            alertSuccess(res.msg);

                            obj.update({pay_status: res.data.pay_status});
                        }
                    });
                },
                btn2: function (index, layero) {
                    return true;
                }
            });
        };


        <!--监听行按钮-->
        table.on('tool(payOrderList)', function (obj) {
            var lay_event = obj.event;

            if (lay_event === 'order-patch') {
                checkOrder(obj);
            } else if (lay_event === 'order-callback') {
                checkOrder(obj);
            }
        });

    });
</script>

</body>
</html>
