<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单明细</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div style="padding: 18px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span>订单明细</span>
            [[if ($sys_power.add == 1 && $sys_user.pid <= 1)]]
            <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-add-circle" id="addBtn"
                  style="margin-top: 4px"> 新增</span>
            [[/if]]
        </div>
        <div class="layui-card-body">
            <form action="" class="layui-form" id="searchForm">
                <div class="layui-form-item" style="text-align: center">
                    <div style="float: right">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">开始</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_start_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">开始</label>
                            <div class="layui-input-inline" style="width:140px;">
                                <input id="s_end_date" class="layui-input" placeholder="请选择" />
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">通道</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_channel">
                                    <option value="0">全部</option>
                                    [[foreach name="sys_channel" item="vo"]]
                                    <option value="[[$vo.id]]">[[$vo.name]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">状态</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_pay_status">
                                    <option value="0">全部</option>
                                    [[foreach name="sys_pay_status" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">关键字</label>
                            <div class="layui-input-inline" style="width:220px;">
                                <input autocomplete="off" class="layui-input" id="s_keyword" placeholder="关键字"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-search"
                                      id="searchBtn"> 查询</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <table class="layui-hide" id="payOrderList" lay-filter="payOrderList"></table>
        </div>
    </div>
</div>


<!--item操作工具条-->
<script id="laytpl-table-item" type="text/html">
    <!--
    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="del">删除</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit">编辑</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="channel">测试</a>
    {{#}}}

    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="kick">踢掉</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm" lay-event="recharge">充值</a>
    {{#}}}
    -->
</script>


<!--用户禁用状态工具条-->
<script id="laytpl-forbidden-switch" type="text/html">
    <div>
        <input type="checkbox" lay-skin="switch" value="{{d.id}}" lay-text="正常|禁用" lay-filter="ma-forbidden-switch"
               name="ma-forbidden-switch"
               {{#if (d.status== '2') {}}
        checked="true"
        {{#}}}
        />
    </div>
</script>

<!--用户上下线工具条-->
<script id="laytpl-online-switch" type="text/html">
    <div>
        <input type="checkbox" lay-skin="switch" value="{{d.id}}" uid="{{d.uid}}" lay-text="在线|下线" lay-filter="ma-online-switch"
               name="ma-online-switch"
               {{#if (d.status== '2') {}}
        checked=""
        {{#}}}
        />
    </div>
</script>


<!--添加或编辑用户信息的弹层-->
<script id="laytpl-add-skma" type="text/html">
    <form lay-filter="form-add-skma" class="layui-form model-form no-padding">
        <input name="id" type="hidden"/>
        <input name="uid" id="skma-user-id" type="hidden"/>
        <input name="account" id="skma-user-account" type="hidden"/>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">通道选择:</label>
            <div class="layui-input-block">
                <select name="mtype_id" id="skma-channel">
                    <option value="0">全部</option>
                    [[foreach name="sys_channel" item="vo"]]
                    <option value="[[$vo.id]]">[[$vo.name]]</option>
                    [[/foreach]]
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">通道账号:</label>
            <div class="layui-input-block">
                <input name="ma_account" id="skma-channel-account" placeholder="请输入通道账号" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">所属码商:</label>
            <div class="layui-input-block">
                <input name="nickname" id="skma-user-nickname" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">每日限额:</label>
            <div class="layui-input-block">
                <input name="mt_money" id="skma-mt-money" placeholder="请输入日限额" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label layui-form-required">COOKIE:</label>
            <div class="layui-input-block">
                <textarea name="ma_cookie" id="skma-cookie" placeholder="请输入COOKIE" class="layui-textarea" ></textarea>
            </div>
        </div>
    </form>
</script>

<!--设置用户通道费率的弹层-->
<script id="laytpl-user-channel" type="text/html">
    <form class="layui-form" onsubmit="return false;">
        <div class="layui-form-item layui-form-text" style="margin-bottom:0;">
            <label class="layui-form-label">用户账号:</label>
            <div class="layui-form-label" style="text-align:left;padding-left:0;">
                {{d.data.account}}
            </div>
        </div>
        <div class="layui-form-item layui-form-text" style="margin-bottom:0;">
            <label class="layui-form-label">上级账号:</label>
            <div class="layui-form-label" style="text-align:left;padding-left:0;">
                {{d.data.paccount||'—'}}
            </div>
            <input type="hidden" id="laytpl-user-channel-pgroup" value="{{d.data.pgid||1}}"/>
        </div>
        {{# layui.each(d.data.sys_channel, function(index,item){}}
        {{# if(item.is_open==1){}}
        <div class="layui-form-item">
            <div class="layui-input-inline" style="width:100px; text-align: right; margin-top: -2px">
                <input type="checkbox" lay-skin="switch" channel-index="{{index}}" channel-name="{{item.name}}"
                       lay-text="开|关" class="user-channel-switch"
                       {{#if (d.data.td_switch[index]) {}} checked="true" {{#}}}/>
            </div>
            <div class="layui-inline">
                <input type="text" placeholder="填写小数" autocomplete="off" class="layui-input user-channel-rate"
                       style="width:120px;"
                       channel-index="{{index}}" channel-name="{{item.name}}" data-paccount="{{d.data.paccount||''}}"
                       channel-prate="{{#if(d.data.pfy_rate[index]){}}{{(d.data.pfy_rate[index]*100).toFixed(2)}}{{#}else{}}0{{#}}}"
                       value="{{#if(d.data.fy_rate[index]){}}{{(d.data.fy_rate[index]*100).toFixed(2)}}{{#}else{}}0{{#}}}"/>
                <span style="position:absolute;left:100px;top:10px;">%</span>
            </div>
            <span style="color:#f60;">【{{item.name}}】上级分成：{{#if(d.data.pfy_rate[index]){}}{{(d.data.pfy_rate[index]*100).toFixed(2)}}%{{#}else{}}未设置{{#}}}</span>
        </div>
        {{#}}}
        {{#});}}
        <div style="color:#f00; text-align: center">设置下级的分成比例-小数，不得超过上级分成比例</div>
    </form>
</script>


<!--引用其他js文件-->
<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>

<script>
    function testNewWindow() {
        window.open("https://pay.duowan.com/userDepositDWAction.action", "newwindow");
    }
</script>

<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laytpl', 'laydate'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;
        var laydate = layui.laydate;

        laydate.render({elem: '#s_start_date'});
        laydate.render({elem: '#s_end_date'});

        <!--获取用户列表-->
        function onSearchBtn() {
            var params = {
                s_start_date: $.trim($('#s_start_date').val()),
                s_end_date: $.trim($('#s_end_date').val()),
                s_keyword: $.trim($('#s_keyword').val()),
                s_pay_status: $('#s_pay_status').val(),
                s_channel: $('#s_channel').val(),
            };

            dataPage({
                elem: '#payOrderList',
                url: '[[$Think.ADMIN_URL]]/pay/orderlist',
                where: params,
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 100},
                    {field: 'mtype_name', title: '支付类型', width: 120},
                    {field: '', title: '码商/平台单号', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.mu_nickname + '</div>';
                            html += '<div>' + d.order_sn + '</div>';
                            html += '</div>';
                            return html;
                        } },
                    {field: '', title: '商户/商户单号', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.su_nickname + '</div>';
                            html += '<div>' + d.out_order_sn + '</div>';
                            html += '</div>';
                            return html;
                        } },
                    {field: 'money', title: '订单金额', width: 120},
                    {field: 'real_money', title: '结算金额', width: 120},
                    {field: 'pay_status_flag', title: '支付状态'},
                    {field: 'create_time', title: '下单时间', width: 130},
                    {field: 'js_time', title: '回调时间', width: 130}
                ]],
                done: function (res, curr, count) {
                    if ($('.sumLine').length < 1) {
                        var html = '<div class="sumLine">';
                        html += '<span>订单：' + res.odata.count_succeed + '/' + res.count + ' (' + res.odata.count_percent + ')' + '</span>';
                        html += '<span>金额：' + res.odata.sum_money_succeed + '/' + res.odata.sum_money + '</span>';
                        html += '<span>累计结算：' + res.odata.sum_real_money + '</span>';
                        html += '<span>佣金总计：' + res.odata.sum_fee + '</span>';
                        html += '</div>';
                        $('.layui-table-header').before(html);
                    }
                    if (res.code === '0') {
                        alertSuccess(res.msg);
                    }
                }
            });
        }

        <!--触发搜索按钮-->
        $('#searchBtn').on('click', function () {
            onSearchBtn();
        });

        onSearchBtn();


        <!--新增或者更新用户-->
        function addOrUpdateSkma(row, index) {
            var item = {};
            item.mtype_id = $('#skma-channel').val();
            item.ma_cookie = $.trim($('#skma-cookie').val());
            item.mt_money = $.trim($('#skma-mt-money').val());
            item.ma_account = $.trim($('#skma-channel-account').val());
            item.nickname = $.trim($('#skma-user-nickname').val());
            item.account = $.trim($('#skma-user-account').val());
            item.uid = $.trim($('#skma-user-id').val());

            if (row) {
                item.id = row.data.id;
            }

            ajax({
                url: '[[$Think.ADMIN_URL]]/pay/skmaupdate',
                data: item,
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        return;
                    }
                    layer.close(index);
                    alertSuccess(res.msg);

                    if (row) {
                        row.update(item);
                        form.render();
                    } else {
                        onSearchBtn();
                    }
                }
            });
        }


        <!--添加或编辑用户-->
        function onAddOrEditBtn(row) {
            var item = {};
            var title = '添加收款码';

            // row 表示更新
            if (row) {
                item = row.data;
                title = '编辑收款码';
            }

            layer.open({
                title: title,
                area: ['640px', '480px'],
                type: 1,
                shadeClose: true,
                btn: ['确定', '取消'],
                content: $('#laytpl-add-skma').html(),
                success: function (index, layero) {
                    if (row) {
                        form.val('form-add-skma', item);
                    } else {
                        $('#skma-user-id').val("[[$sys_user.id]]");
                        $('#skma-user-account').val("[[$sys_user.account]]");
                        $('#skma-user-nickname').val("[[$sys_user.nickname]]");
                    }
                    $('#skma-user-nickname').prop('disabled', true);
                    form.render();
                },
                yes: function (index, layero) {
                    var channel = $('#skma-channel').val();
                    var cookie = $.trim($('#skma-cookie').val());
                    var mt_money = $.trim($('#skma-mt-money').val());
                    var ma_account = $.trim($('#skma-channel-account').val());

                    if (channel === '0') {
                        alertWarning('请选择通道');
                        return;
                    }
                    if (ma_account === '') {
                        alertWarning('请输入通道账号');
                        return;
                    }
                    if (cookie === '') {
                        alertWarning('cookie不能为空');
                        return;
                    }
                    if (mt_money < 0) {
                        alertWarning('请输入正确的额度');
                        return;
                    }
                    if (mt_money === '') {
                        mt_money = 0;
                    }
                    if (row &&
                        item.mtype_id === channel &&
                        item.ma_account === ma_account &&
                        item.ma_cookie === cookie &&
                        item.mt_money === mt_money) {
                        layer.close(index);
                        alertWarning('没有任何改变');
                        return true;
                    }

                    addOrUpdateSkma(row, index);
                },
                btn2: function (index, layero) {
                    return true;
                }
            });

            /*
            laytplAfterAjax({
                    url: '[[$Think.ADMIN_URL]]/pay/agentquery'
                },
                {
                    title: title,
                    area: global.screenType < 2 ? ['80%', '300px'] : ['450px', '550px'],
                    laytplId: '#laytpl-add-user',
                    success: function () {
                        if (row) {
                            // 更新用户信息时，账号不可变更，
                            $('#add-user-account').prop('disabled', true);
                            // 使用item填充表单
                            form.val('form-add-user', item);
                        } else {
                            // 新增用户时，默认将上级设置为自己
                            $('#add-user-pid').val([[$sys_user.id]]);
                        }
                        [[if ($sys_user.gid >= 61)]]
                        $('#add-user-pid').prop('disabled', true);
                        [[/if]]
                            form.render();
                    },
                    yes: function (index, layero) {
                        var gid = $('#add-user-gid').val();
                        var pid = $('#add-user-pid').val();
                        var nick = $.trim($('#add-user-nickname').val());
                        var account = $.trim($('#add-user-account').val());
                        var password = md5($.trim($('#add-user-passwd').val()));
                        if (account === '') {
                            alertWarning('账号不能为空');
                            return;
                        }
                        if (!row && password === md5('')) {
                            alertWarning('密码不能为空');
                            return;
                        }
                        if (nick === '') {
                            alertWarning('昵称不能为空');
                            return;
                        }
                        if (gid === '0') {
                            alertWarning('请选择分组');
                            return;
                        }
                        if (pid === '0') {
                            alertWarning('请选择上级代理');
                            return;
                        }
                        if (item && pid === item.id) {
                            alertWarning('自己不能作为自己的上级');
                            return;
                        }
                        if (row &&
                            item.gid === gid &&
                            item.nickname === nick &&
                            password === md5('') &&
                            (item.pid === pid || pid === null)) {
                            layer.close(index);
                            alertWarning('没有任何改变');
                            return true;
                        }

                        addOrUpdateUser(row, index);
                    },
                    btn2: function (index, layero) {
                        return true;
                    }
                });*/
        }

        <!--新增用户-->
        $('#addBtn').on('click', function () {
            onAddOrEditBtn(null);
        });


        <!--用户通道费率-->
        function skmaTest(row) {
            laytplAfterAjax({
                    url: '[[$Think.ADMIN_URL]]/pay/skmatest',
                    data: {id: row.data.id}
                },
                {
                    title: '码商分成比例',
                    area: global.screenType < 2 ? ['80%', '300px'] : ['540px', '755px'],
                    laytplId: '#laytpl-user-channel',
                    success: function () {
                        form.render();
                    },
                    yes: function (index, layero) {
                        var channel_rate = {};
                        var channel_switch = {};
                        var msg = null;
                        var pgroup = $.trim($('#laytpl-user-channel-pgroup').val());

                        $('.user-channel-switch').each(function (key, obj) {
                            var othis = $(obj);
                            var obj_index = othis.attr('channel-index');
                            channel_switch[obj_index] = othis.prop('checked') ? 1 : 0;
                        });
                        $('.user-channel-rate').each(function (key, obj) {
                            var othis = $(obj);
                            var obj_index = othis.attr('channel-index');
                            var obj_rate = (($.trim(othis.val()) * 1) / 100).toFixed(4);
                            var obj_prate = (($.trim(othis.attr('channel-prate')) * 1) / 100).toFixed(4);
                            if (pgroup != 1 && obj_rate > obj_prate) {
                                msg = '用户的分成比例超过了上级';
                                return false;
                            }
                            channel_rate[obj_index] = obj_rate;
                        });

                        if (msg) {
                            alertError(msg);
                            return false;
                        }

                        ajax({
                            url: '[[$Think.ADMIN_URL]]/pay/channelrate',
                            data: {id: row.data.id, channel_switch: channel_switch, channel_rate: channel_rate},
                            success: function (res) {
                                if (res.code !== '0') {
                                    alertError(res.msg);
                                    return;
                                }
                                layer.close(index);
                                alertSuccess(res.msg);
                            }
                        });
                    },
                    btn2: function (index, layero) {
                        return true;
                    }
                });
        }


        <!--删除用户-->
        function skmaDelete(row) {
            layer.confirm('确定删除该收款码？',
                {title: '系统提示', icon: 3, shadeClose: true, btn: ['朕意已决', '容朕三思']},
                function (index) {
                    ajax({
                        url: '[[$Think.ADMIN_URL]]/pay/skmadelete',
                        data: {id: row.data.id, uid: row.data.uid},
                        success: function (res) {
                            if (res.code !== '0') {
                                alertError(res.msg);
                            } else {
                                row.del();
                                layer.close(index);
                                alertSuccess(res.msg);
                            }
                        }
                    });
                });
        }


        <!--监听行按钮-->
        table.on('tool(payOrderList)', function (obj) {
            var lay_event = obj.event;

            if (lay_event === 'edit') {
                onAddOrEditBtn(obj);
            } else if (lay_event === 'del') {
                skmaDelete(obj);
            } else if (lay_event === 'test') {
                skmaTest(obj);
            }
        });


        <!--监听禁用用户按钮-->
        form.on('switch(ma-forbidden-switch)', function (obj) {
            var available = obj.elem.checked ? 1 : 0;
            var back = obj.elem.checked !== true;

            ajax({
                url: '[[$Think.ADMIN_URL]]/pay/forbiddenstatus',
                data: {id: obj.value, status: available},
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        $(obj.elem).attr('checked', back);
                    } else {
                        alertSuccess(res.msg);
                        var onlineSwitch = $('input[name="ma-online-switch"][value="' + obj.value + '"]');
                        var isOnlie = onlineSwitch.attr('checked');
                        if (available === 0 && isOnlie) {
                            onlineSwitch.attr('checked', false);
                        }
                    }
                    form.render();
                }
            });
        });

        <!--监听上下线按钮-->
        form.on('switch(ma-online-switch)', function (obj) {
            var online = obj.elem.checked ? 1 : 0;
            ajax({
                url: '[[$Think.ADMIN_URL]]/pay/skmaonline',
                data: {id: obj.value, uid: $(obj.elem).attr('uid'), status: online},
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        if (online) {
                            $(obj.elem).removeAttr('checked');
                        } else {
                            $(obj.elem).attr('checked', '');
                        }
                        form.render();
                    } else {
                        alertSuccess(res.msg);
                    }
                }
            });

        });

    });
</script>

</body>
</html>
