<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>基本资料</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">基本资料</div>
                <div class="layui-card-body" pad15>

                    <div class="layui-form" lay-filter="form-user-info">
                        <div class="layui-form-item">
                            <label class="layui-form-label">分组:</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="gname" readonly type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号:</label>
                            <div class="layui-input-block">
                                <input class="layui-input" name="account" readonly type="text"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称:</label>
                            <div class="layui-input-block">
                                <input autocomplete="off" class="layui-input" lay-verify="required" name="nickname" placeholder="请输入昵称"
                                       type="text" id="user-info-nickname"/>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn layui-btn-normal" lay-filter="btn-user-info" lay-submit>确认修改</button>
                                <button class="layui-btn layui-btn-primary" type="reset">重新填写</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--引用其他js文件-->
<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>
<script>
    layui.use(['jquery', 'form'], function () {
        var $ = layui.jquery;
        var form = layui.form;

        var item = {};
        item.gname = "[[$sys_user.gname]]";
        item.account = "[[$sys_user.account]]";
        item.nickname = "[[$sys_user.nickname]]";

        form.val('form-user-info', item);
        form.render();

        form.on('submit(btn-user-info)', function (obj) {
            var nickname = $.trim($('#user-info-nickname').val());
            if (nickname === item.nickname) {
                alertWarning('没有任何改变');
                return;
            }

            var url = '[[$Think.ADMIN_URL]]/sys/userupdate';
            ajax({
                url: url,
                data: {nickname: nickname, referer: 'userinfo'},

                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        return;
                    }
                    alertSuccess(res.msg);
                    //var aaa = global.indexObj.children('#index-index-nickname');
                    //aaa.innerText = nickname;
                }
            });
        });

    });
</script>
</body>
</html>