<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的代理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div style="padding: 18px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span>代理列表</span>
            <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-add-circle" id="addBtn"
                  style="margin-top: 4px"> 新增</span>
        </div>
        <div class="layui-card-body">
            <form action="" class="layui-form" id="searchForm">
                <div class="layui-form-item" style="text-align: center">
                    <div style="float: right">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">分组</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_gid" name="s_gid">
                                    <option value="0">全部</option>
                                    [[foreach name="$sys_group" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">在线</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_is_online" name="s_is_online">
                                    <option value="all">全部</option>
                                    [[foreach name="'yes_or_no'|getConfig" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">关键字</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="s_keyword" placeholder="关键字"
                                       type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-search"
                                      id="searchBtn"> 查询</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <table class="layui-hide" id="userAgent" lay-filter="userAgent"></table>
        </div>
    </div>
</div>


<!--item操作工具条-->
<script id="laytpl-table-item" type="text/html">
    {{#if(d.power_del==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="del">删除</a>
    {{#}}}
    {{#if(d.power_edit==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit">编辑</a>
    {{#}}}
    {{#if(d.power_channel==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="channel">通道</a>
    {{#}}}
    <!--
    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="kick">踢掉</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm" lay-event="recharge">充值</a>
    {{#}}}
    -->
</script>


<!--用户禁用状态工具条-->
<script id="laytpl-forbidden-switch" type="text/html">
    <div>
        <input type="checkbox" lay-skin="switch" value="{{d.id}}" lay-text="正常|禁用" lay-filter="user-forbidden-switch" name="user-forbidden-switch"
               {{#if (d.status== '2') {}}
        checked="true"
        {{#}}}
        />
    </div>
</script>

<!--用户上下线工具条-->
<script id="laytpl-online-switch" type="text/html">
    <div>
        <input type="checkbox" lay-skin="switch" value="{{d.id}}" lay-text="在线|离线" lay-filter="user-online-switch" name="user-online-switch"
               {{#if (d.is_online !='0' && d.status== '2') {}}
        checked="true"
        {{#}}}
        />
    </div>
</script>


<!--添加或编辑用户信息的弹层-->
<script id="laytpl-add-user" type="text/html">
    <form class="layui-form" lay-filter="form-add-user">
        <div class="layui-form-item">
            <label class="layui-form-label">账号:</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" id="add-user-account" placeholder="账号" type="text"
                       name="account">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" id="add-user-passwd" placeholder="密码" type="password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">昵称:</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" id="add-user-nickname" placeholder="昵称" type="text"
                       name="nickname">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级:</label>
            <div class="layui-input-block" style="width:180px;">
                <select id="add-user-pid" name="pid">
                    <option value="0">请选择上级代理</option>
                    [[foreach name="$sys_agent" item="vo"]]
                    <option value="[[$vo.id]]">[[$vo.account]]</option>
                    [[/foreach]]
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分组:</label>
            <div class="layui-input-block" style="width:180px;">
                <select id="add-user-gid" name="gid">
                    <option value="0">请选择分组</option>
                    [[foreach name="$sys_group" item="vo" key="skey"]]
                    <option value="[[$skey]]">[[$vo]]</option>
                    [[/foreach]]
                </select>
            </div>
        </div>
    </form>
</script>


<!--引用其他js文件-->
<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>


<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laytpl'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;


        <!--获取用户列表-->
        function onSearchBtn() {
            var params = {
                s_gid: $('#s_gid').val(),
                s_is_online: $('#s_is_online').val(),
                s_keyword: $.trim($('#s_keyword').val())
            };

            dataPage({
                elem: '#userAgent',
                url: '[[$Think.ADMIN_URL]]/user/agentlist',
                where: params,
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 100},
                    {
                        field: 'gname', title: '账号/昵称/分组', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.account + '</div>';
                            html += '<div>' + d.nickname + '</div>';
                            html += '<div><b>' + d.gname + '</b></div>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        field: 'paccount', title: '上级', templet: function (d) {
                            if (d.paccount) {
                                return d.paccount;
                            } else {
                                return '';
                            }
                        }
                    },
                    {field: 'balance', title: '可提余额', width: 100},
                    {field: 'sx_balance', title: '接单余额', width: 100},
                    {field: 'fz_balance', title: '冻结中', width: 100},
                    {
                        field: 'td_money', title: '今日收款', templet: function (d) {
                            if (d.gid != 61 && d.gid != 71) {
                                return '/';
                            }
                            var html = '<div style="text-align:left;">';
                            html += '<div>金额：<b>' + d.td_money_ok + '</b>/<b>' + d.td_money + '</b></div>';
                            html += '<div>订单：<b>' + d.td_cnt_ok + '</b>/<b>' + d.td_cnt + '</b></div>';
                            html += '<div>成功：<b>' + d.td_percent + '<b></div>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {
                        field: 'all_money', title: '累计收款', templet: function (d) {
                            if (d.gid != 61 && d.gid != 71) {
                                return '/';
                            }
                            var html = '<div style="text-align:left;">';
                            html += '<div>金额：<b>' + d.all_money_ok + '</b>/<b>' + d.all_money + '</b></div>';
                            html += '<div>订单：<b>' + d.all_cnt_ok + '</b>/<b>' + d.all_cnt + '</b></div>';
                            html += '<div>成功：<b>' + d.all_percent + '<b></div>';
                            html += '</div>';
                            return html;
                        }
                    },
                    {field: 'status_flag', title: '状态', width: 100, templet: "#laytpl-forbidden-switch"},
                    {field: 'status_flag', title: '接单', width: 100, templet: "#laytpl-online-switch"},
                    {field: '', title: '操作', width: 240, toolbar: '#laytpl-table-item'}
                ]],
                done: function (res, curr, count) {
                    if ($('.sumLine').length < 1) {
                        var html = '<div class="sumLine">';
                        html += '<span>用户数：' + res.count + '</span>';
                        html += '<span>可提余额：' + res.odata.balance + '</span>';
                        html += '<span>接单余额：' + res.odata.sx_balance + '</span>';
                        html += '<span>冻结中：' + res.odata.fz_balance + '</span>';
                        html += '</div>';
                        $('.layui-table-header').before(html);
                    }
                }
            });
        }


        <!--触发搜索按钮-->
        $('#searchBtn').on('click', function () {
            onSearchBtn();
        });

        onSearchBtn();


        <!--新增或者更新用户-->
        function addOrUpdateUser(row, index) {
            var item = {};
            var jq_gid = $('#add-user-gid');
            var jq_pid = $('#add-user-pid');
            item.gid = $.trim(jq_gid.val());
            item.pid = $.trim(jq_pid.val());
            item.nickname = $.trim($('#add-user-nickname').val());
            item.password = md5($.trim($('#add-user-passwd').val()));
            item.account = $.trim($('#add-user-account').val());

            if (row) {
                item.id = row.data.id;
            }
            if (item.gid !== '0') {
                item.gname = jq_gid.find('option[value="' + item.gid + '"]').text();
            }
            if (item.pid !== '0') {
                item.paccount = jq_pid.find('option[value="' + item.pid + '"]').text();
            }

            ajax({
                url: '[[$Think.ADMIN_URL]]/user/updateuser',
                data: item,
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        return;
                    }
                    layer.close(index);
                    alertSuccess(res.msg);

                    if (row) {
                        row.update(item);
                        form.render();
                    } else {
                        onSearchBtn();
                    }
                }
            });
        }


        <!--添加或编辑用户-->
        function onAddOrEditBtn(row) {
            var item = null;
            var title = '添加用户';

            // row 不为null表示更新
            if (row) {
                item = row.data;
                title = '编辑用户';
            }

            layer.open({
                title: title,
                type: 1,
                shadeClose: true,
                area: ['550px', '700px'],
                btn: ['确定', '取消'],
                content: laytpl($('#laytpl-add-user').html()).render({item: item}),
                success: function () {
                    if (row) {
                        // 更新用户信息时，账号不可变更，
                        $('#add-user-account').prop('disabled', true);
                        // 使用item填充表单
                        form.val('form-add-user', item);
                    } else {
                        // 新增用户时，默认将上级设置为自己
                        $('#add-user-pid').val([[$user.id]]);
                    }
                    form.render();
                },
                yes: function (index, layero) {
                    var gid = $('#add-user-gid').val();
                    var pid = $('#add-user-pid').val();
                    var nick = $.trim($('#add-user-nickname').val());
                    var account = $.trim($('#add-user-account').val());
                    var password = md5($.trim($('#add-user-passwd').val()));
                    if (account === '') {
                        alertWarning('账号不能为空');
                        return;
                    }
                    if (!row && password === md5('')) {
                        alertWarning('密码不能为空');
                        return;
                    }
                    if (nick === '') {
                        alertWarning('昵称不能为空');
                        return;
                    }
                    if (gid === '0') {
                        alertWarning('请选择分组');
                        return;
                    }
                    if (pid === '0') {
                        alertWarning('请选择上级代理');
                        return;
                    }
                    if (item && pid === item.id) {
                        alertWarning('自己不能作为自己的上级');
                        return;
                    }
                    if (row &&
                        item.gid === gid &&
                        item.nickname === nick &&
                        password === md5('') &&
                        (item.pid === pid || pid === null)) {
                        layer.close(index);
                        alertWarning('没有任何改变');
                        return true;
                    }

                    addOrUpdateUser(row, index);
                },
                btn2: function (index, layero) {
                    return true;
                }
            });
        }

        <!--新增用户-->
        $('#addBtn').on('click', function () {
            onAddOrEditBtn(null);
        });


        <!--删除用户-->
        function deleteUser(row) {
            layer.confirm('确定删除用户及其名下所有收款码？', {title: '系统提示', icon: 3}, function (index) {
                ajax({
                    url: '[[$Think.ADMIN_URL]]/user/deleteuser',
                    data: {id: row.data.id},
                    success: function (res) {
                        if (res.code !== '0') {
                            alertError(res.msg);
                            return;
                        } else {
                            obj.del();
                            layer.close(index);
                            alertSuccess(res.msg);
                        }
                    }
                });
            });
        }


        <!--监听行按钮-->
        table.on('tool(userAgent)', function (obj) {
            var lay_event = obj.event;

            //TODO

            if (lay_event === 'edit') {
                onAddOrEditBtn(obj);
            } else if (lay_event === 'del') {
                deleteUser(obj);
            } else if (lay_event === 'channel') {
                alertSuccess('event = channel');
            }
        });


        <!--监听禁用用户按钮-->
        form.on('switch(user-forbidden-switch)', function (obj) {
            var available = obj.elem.checked ? 1 : 0;
            var back = obj.elem.checked !== true;

            ajax({
                url: '[[$Think.ADMIN_URL]]/user/forbiddenstatus',
                data: {id: obj.value, status: available},
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        $(obj.elem).attr('checked', back);
                    } else {
                        alertSuccess(res.msg);
                        var onlineSwitch = $('input[name="user-online-switch"][value="' + obj.value + '"]');
                        var isOnlie = onlineSwitch.attr('checked');
                        if (available === 0 && isOnlie) {
                            onlineSwitch.attr('checked', false);
                        }
                    }
                    form.render();
                }
            });
        });

        <!--监听上下线按钮-->
        form.on('switch(user-online-switch)', function (obj) {
            var online = obj.elem.checked ? 1 : 0;
            var back = obj.elem.checked !== true;

            ajax({
                url: '[[$Think.ADMIN_URL]]/user/onlinestatus',
                data: {id: obj.value, status: online},
                success: function (res) {
                    if (res.code !== '0') {
                        alertError(res.msg);
                        $(obj.elem).attr('checked', back);
                        form.render();
                    } else {
                        alertSuccess(res.msg);
                    }
                }
            });

        });

    });
</script>

</body>
</html>
