<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的代理</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link href="/dist/layuiadmin/layui/css/layui.css" media="all" rel="stylesheet">
    <link href="/static/admin/css/admin.css" rel="stylesheet">
</head>
<body>

<div style="padding: 18px; background-color: #F2F2F2;">
    <div class="layui-card">
        <div class="layui-card-header">
            <span>代理列表</span>
            <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-add-circle" id="addBtn" style="margin-top: 4px"> 新增</span>
        </div>
        <div class="layui-card-body">
            <form action="" class="layui-form" id="searchForm">
                <div class="layui-form-item" style="text-align: center">
                    <div style="float: right">
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">分组</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_gid" name="s_gid">
                                    <option value="0">全部</option>
                                    [[foreach name="$sys_group" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">在线</label>
                            <div class="layui-input-inline" style="width:100px;">
                                <select id="s_is_online" name="s_is_online">
                                    <option value="all">全部</option>
                                    [[foreach name="'yes_or_no'|getConfig" item="vo" key="skey"]]
                                    <option value="[[$skey]]">[[$vo]]</option>
                                    [[/foreach]]
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label" style="width:50px;">关键字</label>
                            <div class="layui-input-inline">
                                <input autocomplete="off" class="layui-input" id="s_keyword" placeholder="关键字" type="text">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline">
                                <span class="layui-btn layui-btn-radius layui-btn-normal layui-icon layui-icon-search" id="searchBtn"> 查询</span>
                            </div>
                        </div>
                    </div>

                </div>
            </form>

            <table class="layui-hide" lay-filter="userAgent" id="userAgent"></table>
        </div>
    </div>
</div>


<script src="/dist/layuiadmin/layui/layui.js"></script>
<script src="/static/admin/js/func.js"></script>
<script src="/js/global.js"></script>
<script src="/js/func.js"></script>
<script src="/js/md5.js"></script>

<!--item操作工具条-->
<script type="text/html" id="laytpl-table-item">
    {{#if(d.power_del==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="del">删除</a>
    {{#}}}
    {{#if(d.power_edit==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="edit">编辑</a>
    {{#}}}
    {{#if(d.power_channel==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="channel">通道</a>
    {{#}}}
    <!--
    {{#if(d.kick==1){}}
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="kick">踢掉</a>
    {{#}}}
    {{#if(d.recharge==1){}}
    <a class="layui-btn layui-btn-sm" lay-event="recharge">充值</a>
    {{#}}}
    -->
</script>


<!--用户上下线工具条-->
<script type="text/html" id="laytpl-online-switch">
    <div>{{d.status_flag}}</div>
    <input type="checkbox" lay-skin="switch" value="{{d.id}}" lay-text="在线|离线" lay-filter="user-online-switch"
           {{#if (d.is_online != '0') {}}
           checked
           {{#}}}
    />
</script>


<!--添加或编辑用户信息的弹层-->
<script type="text/html" id="laytpl-add-user">
    <div class="layui-form" lay-filter="form-add-user">
        <div class="layui-form-item">
            <label class="layui-form-label">账号:</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" id="add-user-account" placeholder="账号" type="text">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">密码:</label>
            <div class="layui-input-block">
                <input autocomplete="off" class="layui-input" id="add-user-passwd" placeholder="密码" type="password">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">分组：</label>
            <div class="layui-input-block" style="width:120px;">
                <select id="add-user-gid">
                    <option value="0">请选择分组</option>
                    [[foreach name="$sys_group" item="vo" key="skey"]]
                    <option value="[[$skey]]">[[$vo]]</option>
                    [[/foreach]]
                </select>
            </div>
        </div>
    </div>
</script>


<script>
    layui.use(['table', 'jquery', 'form', 'layer', 'laytpl'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        var layer = layui.layer;
        var laytpl = layui.laytpl;


        <!--获取用户列表-->
        function onSearchBtn() {
            var params = {
                s_gid : $('#s_gid').val(),
                s_is_online : $('#s_is_online').val(),
                s_keyword : $.trim($('#s_keyword').val())
            };

            dataPage({
                elem: '#userAgent',
                url: '[[$Think.ADMIN_URL]]/user/agentlist',
                where: params,
                page: true,
                cols: [[
                    {field: 'id', title: 'ID', width: 80},
                    {field: 'gname', title: '账号/分组', templet: function (d) {
                            var html = '<div style="text-align: center">';
                            html += '<div>' + d.account + '</div>';
                            html += '<div>' + d.gname + '</div>';
                            html += '</div>';
                            return html;
                        }},
                    {field: 'paccount', title: '上级代理', templet: function (d) {
                            if (d.paccount) {
                                return d.paccount;
                            } else {
                                return '';
                            }
                        }},
                    {field: 'balance', title: '可提余额', width: 100},
                    {field: 'sx_balance', title: '接单余额', width: 100},
                    {field: 'fz_balance', title: '冻结中', width: 100},
                    {field: 'td_money', title: '今日收款', templet:function (d) {
                            if (d.gid < 81) {
                                return '/';
                            }
                            var html = '<div style="text-align:left;line-height:18px;">';
                            html += '<div>金额：<b>' + d.td_money_ok + '</b>/<b>' + d.td_money + '</b></div>';
                            html += '<div>订单：<b>' + d.td_cnt_ok + '</b>/<b>' + d.td_cnt + '</b></div>';
                            html += '<div>成功：<b>' + d.td_percent + '<b></div>';
                            html += '</div>';
                            return html;
                        }},
                    {field: 'all_money', title: '累计收款', templet:function (d) {
                            if (d.gid < 81) {
                                return '/';
                            }
                            var html = '<div style="text-align:left;line-height:18px;">';
                            html += '<div>金额：<b>' + d.all_money_ok + '</b>/<b>' + d.all_money + '</b></div>';
                            html += '<div>订单：<b>' + d.all_cnt_ok + '</b>/<b>' + d.all_cnt + '</b></div>';
                            html += '<div>成功：<b>' + d.all_percent + '<b></div>';
                            html += '</div>';
                            return html;
                        }},
                    {field:'status_flag', title: '状态', width: 100, templet: "#laytpl-online-switch"},
                    {field:'', title:'操作', width:280, toolbar:'#laytpl-table-item'}
                ]],
                done: function(res, curr, count) {
                    //console.log(res);
                    if($('.sumLine').length < 1) {
                        var html = '<div class="sumLine">';
                        html += '<span>用户数：' + res.count + '</span>';
                        html += '<span>可提余额：' + res.odata.balance + '</span>';
                        html += '<span>接单余额：' + res.odata.sx_balance + '</span>';
                        html += '<span>冻结中：' + res.odata.fz_balance + '</span>';
                        html += '</div>';
                        $('.layui-table-header').before(html);
                    }
                }
            });
        }


        <!--触发搜索按钮-->
        $('#searchBtn').on('click', function () {
            onSearchBtn();
        });

        $('#searchBtn').trigger('click');


        <!--新增或者更新用户-->
        function addOrUpdateUser(ojb) {
            //TODO
        }


        <!--添加或编辑用户-->
        function onAddOrEditBtn(obj) {
            var title = '添加用户';
            var add_or_update = 'add';
            if (obj) {
                title = '编辑用户';
                add_or_update = 'update';
            }

            layer.open({
                title: title,
                type: 1,
                shadeClose: true,
                area: ['500px', '600px'],
                btn: ['确定', '取消'],
                content: laytpl($('#laytpl-add-user').html()).render({item:obj}),
                success: function () {
                    if (add_or_update == 'update') {
                        $('#add-user-account').prop('disabled', true);
                        $('#add-user-account').val(obj.account);
                        $('#add-user-gid').val(obj.gid);
                    } else {
                        $('#add-user-account').prop('disabled', false);
                    }
                    form.render();
                },
                yes: function(index, layero) {
                    obj.gid = $('#add-user-gid').val();
                    obj.password = md5($.trim($('#add-user-passwd').val()));

                    ajax({
                        url: '[[$Think.ADMIN_URL]]/user/updateuser',
                        data:{
                            username:username,
                            passwd:passwd,
                            gcode:gcode,
                            vercode:vercode
                        },
                        success: function(res){
                            if (res.code != '0') {
                                layer.msg(res.msg, {icon: 0, time:1500});
                                $('#LAY-user-get-captcha').trigger('click');
                                return;
                            }

                            //请求成功后，写入 access_token
                            var localData = {};
                            localData['account'] = res.data.account;
                            localData[global.tokenName] = res.data.token;
                            layui.data(global.tableName, localData);

                            layer.msg(res.msg, {icon: 1, time:1500 }, function(){
                                location.href = '[[$Think.ADMIN_URL]]';
                            });
                        }

                    });

                    layer.close(index);
                    return true;
                },
                btn2: function(index, layero) {
                    return true;
                }
            });
        }

        <!--新增用户-->
        $('#addBtn').on('click', function () {
            onAddOrEditBtn();
        });


        <!--监听行按钮-->
        table.on('tool(userAgent)', function (obj) {
           var data = obj.data;
           var layevent = obj.event;

            //TODO

           if (layevent === 'edit') {
               onAddOrEditBtn(data);
           } else if (layevent === 'del') {
               _alert('event = del');
           } else if (layevent === 'kick') {
               _alert('event = kick');
           }
        });

        <!--监听上下线按钮-->
        form.on('switch(user-online-switch)', function (obj) {
            console.log(obj);
            console.log(obj.elem.checked);
            _alert('user-online-switch');
            //TODO
        });

    });
</script>

</body>
</html>
