<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台登录 - 日月支付</title>
    <meta content="webkit" name="renderer">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <link href="/layui/css/layui.css" media="all" rel="stylesheet">
</head>
<body>
<style>
    h2 {
        margin-left: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .layui-input {
        alignment: center;
        width: 40%;
    }
    #lay-user-get-vercode {
        margin-top: 2%;
    }
</style>

<h2>后台登录</h2>

<div class="layui-admin-login">
    <div class="layui-form-item">
        <label class="layui-form-label">帐号</label>
        <div class="layui-input-block">
            <input type="text" id="lay-user-login-username" placeholder="请输入帐号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input style="width: 100%" type="password" id="lay-user-login-password" placeholder="请输入密码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">谷歌验证码</label>
        <div class="layui-input-block">
            <input type="text" id="lay-user-login-gcode" placeholder="谷歌验证码" autocomplete="off" class="layui-input">
        </div>
    </div>
    <p/>
    <div class="layui-form-item">
        <label class="layui-form-label">验证码</label>
        <div class="layui-input-block">
            <input type="text" id="lay-user-login-vercode" placeholder="请输入验证码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-col-xs5">
            <div style="margin-left: 110px; width: 300px">
                <img class="layadmin-user-login-codeimg" id="lay-user-get-vercode"
                     src="[[$Think.ADMIN_URL]]/login/captcha"/>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="lay-user-login-submit">登录</button>
        </div>
    </div>
</div>

<script src="/layui/layui.all.js"></script>
<script src="/js/jquery2.1.js"></script>
<script src="/js/md5.js"></script>
<script src="/js/global.js"></script>
<script src="/static/admin/js/func.js"></script>
<script>

    //更换验证码
    $('#lay-user-get-vercode').on('click', function () {
        var captcha = "[[$Think.ADMIN_URL]]/login/captcha";
        $(this).attr('src', captcha + '&rt=' + Math.random());
    });

    //确认登录
    $('#lay-user-login-submit').on('click', function () {
        var obj = $(this);
        var acname = $.trim($('#lay-user-login-username').val());
        var pwd = $.trim($('#lay-user-login-password').val());
        var code = $.trim($('#lay-user-login-vercode').val());
        var gcode = $.trim($('#lay-user-login-gcode').val());
        //var smscode = $.trim($('#lay-user-login-smscode').val());
        var seccd = '';//安全码
        var save_state = $('#save_state').prop('checked') ? 1 : 0;

        if (!acname) {
            _alert('请输入您的账号');
            return false;
        }
        if (!pwd) {
            _alert('请填写您的密码');
            return false;
        }
        if (!code) {
            _alert('请填写图形验证码');
            return false;
        }
        pwd = md5(pwd);
        var has_click = obj.attr('has-click');
        if (has_click == '1') {
            return false;
        } else {
            obj.attr('has-click', '1');
        }
        ajax({
            url: '[[$Think.ADMIN_URL]]' + '/login/loginact',
            data: {
                acname: acname,
                pwd: pwd,
                code: code,
                save_state: save_state,
                seccd: seccd,
                gcode: gcode,
                //smscode: smscode,
                f: '[[$data.f]]'
            },
            success: function (json) {
                if (json.code != '1') {
                    _alert(json.msg);
                    obj.attr('has-click', '0');
                    $('#lay-user-get-vercode').trigger('click');
                    return;
                }

                layui.data(global.tableName, {
                    key: global.tokenName,
                    value: json.data.token
                });

                _alert(json.msg, {icon: 1}, function () {
                    location.href = '[[$Think.ADMIN_URL]]';
                });
            }
        });

    });

    $('#lay-user-login-vercode, #lay-user-login-password, #lay-user-login-username').on('keyup', function (e) {
        if (e.keyCode == 13) {
            $('#lay-user-login-submit').trigger('click');
        }
    });

</script>

</body>
</html>